#
# Copyright 2022 The GUAC Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: reusable-local-build 

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      ref:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}
      - name: Set up Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: 'stable'
      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          install-only: true
      - run: |
          #!/usr/bin/env bash
          set -euo pipefail
  
          # a hack to workaround docker context show being not available
          sed -i -E '/--builder/d' .goreleaser.yaml
          sed -i -E '/DOCKER_CONTEXT/d' Makefile
          
          make build
          make build_local_container
          docker tag ghcr.io/${{ github.repository }}:v0.0.0-local-organic-guac-amd64 local-organic-guac
          docker save -o ./bin/local-organic-guac.tar local-organic-guac
        shell: bash
      - uses: actions/upload-artifact@v3
        with:
          name: guac-artifacts
          path: ./bin
